.activePost_overlay.active {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1000;
}

.postCard_cont.active {
    max-height: 95vh;
    overflow-y: hidden;
    border-radius: .5rem;
    padding: .1rem;
    background-color: white;
}

.postCard_activeHeader {
    display: none;
}

.postCard_activeHeader.active {
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 3px lightgrey;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.close_active_PostBtn {
    position: absolute;
    right: 1rem;
    height: 2rem;
    width: 2rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 1px 1px 2px gray;
    border-radius: 50%;
}

.scrollable.active {
    height: 76.4vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollable::-webkit-scrollbar-track {
    background-color: white;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: gray;
}

.commentInput {
    display: none;
}

.commentInput.active {
    display: block;
    position: sticky;
    bottom: 0;
    background-color: whitesmoke;
    padding: .5rem;
}

.post_Card {
    width: clamp(25rem, 45vw, 50rem);
    box-shadow: 2px 2px 15px lightgray;
    border-radius: .7rem;
    background-color: white;
}

.post_Card.active {
    border-radius: 0;
}

.posters_Header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.posters_data {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.friend_Status {
    font-size: clamp(.9rem, 1.5vw, 1rem);
}

.posters_img_Cont {
    width: clamp(3rem, 5vw, 3.5rem);
    height: clamp(3rem, 5vw, 3.5rem);
    outline: 1px solid gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: inset 1px 1px 5px 1px lightgray;
}

.posters_img {
    width: clamp(3.5rem, 5vw, 4rem);
    height: auto;
}

.posters_infoTxt {
    font-size: clamp(.9rem, 1.5vw, .1rem);
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.menuSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.menu_btnRight {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.menuBtn {
    font-size: 1.1rem;
    cursor: pointer;
}

.posters_words {
    padding: .5rem 1rem;
}

.postImages {
    width: 100%;
    height: auto;
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .1rem;
    overflow: hidden;
}

.post_img {
    width: 10rem;
    height: auto;
    cursor: pointer;
    flex-grow: 1;
    border: 1px solid lightgray;
}

.reactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.likes {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.react_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.7rem;
    width: 1.7rem;
    background: rgba(3, 148, 3, 0.5);
    border-radius: 50%;
}

.heart {
    color: darkgreen;
}

.liked {
    color: rgba(0, 128, 0, 1);
}

.like_icon span,
.comment_icon span,
.repost span {
    font-size: clamp(.9rem, 1.5vw, 1rem);
}

.likeNo,
.comment_no,
.shares_no {
    font-size: clamp(.8rem, 1.5vw, 1rem);
}

.comment_no:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(112, 198, 227);
}

.Ricon {
    font-size: 1.1rem;
}

.react_Left {
    display: flex;
    gap: .2rem;
}

.reaction_Icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2em;
    border-top: 2px solid lightgray;
}

.repost,
.comment_icon,
.like_icon {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: .5rem;
    width: 30%;
    justify-content: center;
}

.repost:hover,
.comment_icon:hover,
.like_icon:hover {
    background-color: whitesmoke;
}

@media only screen and (max-width: 51rem) {
    .activePost_overlay {
        width: 100%;
    }

    .activePost_overlay.active {
        width: 100%;
    }

    .postCard_cont.active {
        width: 80%;
    }

    .postCard_cont {
        width: 100%;
    }

    .scrollable {
        width: 100%;
    }

    .post_Card {
        width: 100%;
    }
}

@media only screen and (max-width: 370px) {
    .post_Card {
        width: 90%;
    }

    .posters_img_Cont {
        width: 2.5rem;
        height: 2.5rem;
    }

    .posters_Header {
        padding: 1rem .5rem;
    }

    .posters_data {
        gap: 0.5rem;
    }

    .posters_img {
        width: 2rem;
        height: auto;
    }

    .posters_infoTxt {
        font-size: .8rem;
    }

    .menu_btnRight,
    .menuBtn {
        gap: .2rem;
        font-size: .8rem;
    }
}

.Ricon {
    cursor: pointer;
}