.intro {
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 5px lightgray;
    padding: 1rem 0;
    border-radius: .7rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.intro_upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.intro_name {
    font-weight: 600;
    text-align: center;
}

.intro_dp {
    height: 3rem;
    width: 3rem;
    border: 1px solid gray;
    border-radius: 100px;
    overflow: hidden;
}

.intro_txt {
    padding: 0 .8rem;
}
