.connectionPage {
    display: flex;
    background-color: whitesmoke;
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    overflow: auto;
}

.connectDetials {
    width: 100%;
    height: fit-content;
}

.connectleftbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.connectTop_nav {
    position: sticky;
    top: 0;
}
