.topnavCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    box-shadow: 2px 2px 5px lightgray;
    background-color: white;
}

.upper {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.dp {
    width: clamp(3rem, 5vw, 3.5rem);
    height: clamp(3rem, 5vw, 3.5rem);
    outline: 1px solid gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: inset 1px 1px 5px 1px lightgray;
}

.dpImg {
    width: clamp(3.5rem, 5vw, 4rem);
    height: auto;
}

.inputArea {
    display: flex;
    outline: 2px solid gray;
    width: clamp(20rem, 30vw, 30rem);
    height: 2rem;
    border-radius: .5rem;
}

.search_Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: .5rem;
}

.searchInput {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: .5rem;
    font-size: 1rem;
}

.media_links {
    text-decoration: none;
    color: black;
}

.media_Icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
    cursor: pointer;
}

.lower {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    padding: 1rem 0 0 0;
}

@media only screen and (max-width: 370px) {
    .topnavCont {
        width: 100%;
        padding: .5rem;
    }

    .upper {
        gap: .5rem;
    }

    .dp {
        width: 2.5rem;
        height: 2.5rem;
    }

    .dpImg {
        width: 2.5rem;
        height: auto;
    }

    .inputArea {
        width: 80%;
    }

    .media_Icons {
        flex-direction: column;
        gap: .2rem;
    }

    .mediaTxt {
        font-size: .8rem;
    }

    .lower {
        width: 100%;
    }
}