.leftNavCont {
    background-color: var(--footerbottom-color);
    height: 100vh;
    color: white;
    width: 13rem;
}


.logo {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.logoImg {
    width: clamp(7rem, 15vw, 8rem);
    height: auto;
}

.flex1 {
    margin-top: 2rem;
    height: 82%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.asideIcons_plate {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
}


.asideIcons {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: .5rem 1rem;
    color: whitesmoke;
}

.links {
    text-decoration: none;
}

.dashlink {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.asideIcons:hover {
    background-color: rgba(0, 113, 128, 0.605);
}

#active {
    background-color: #EBF7FC;
    color: var(--footerbottom-color);
}

.Ltxt {
    display: block;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 60rem) {
    .leftNavCont {
        width: 4rem;
    }

    .Ltxt {
        display: none;
    }

    .logoImg {
        width: 4rem;
        height: auto;
    }
}

@media only screen and (max-width: 370px) {
    .leftNavCont {
        width: 3rem;
    }
}