.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    padding: 0 clamp(1rem, 8vw, 10rem);
    box-shadow: 5px 5px 8px lightgray;
    position: fixed;
    z-index: 100;
    top: 0;
}

#logoDiv {
    height: 100%;
    padding: 1rem;
}

#logo {
    width: clamp(5rem, 6vw, 8rem);
    height: auto;
}

#homeDiv {
    display: flex;
    align-items: flex-end;
    padding: 1.5rem;
}

.homeBtn {
    color: white;
    background-color: var(--secondary-color);
    padding: .5rem 1rem;
    border-radius: .3rem;
    font-size: clamp(.9rem, 2vw, 1.1rem);
    cursor: pointer;
}

.homeBtn:active {
    transform: scale(.9);
}