:root {
  --primary-color: #A3DAF3;
  --secondary-color: #070A25;
  --body-color: #A3DAF3;
  --new-color: #62421C;
  --sorting-color: #277CA2;
  --footerbottom-color: #174960;
  --tetiary-color: #37AEE4;
  --btn-color: #111858;
  --resume-brown: #B57500;
  --looking-job: #C1E6F7;
  --resume-bg: #6B4500;
}

/* @import "~stream-chat-react/dist/css/v2/index.css"; */

/* .str_chat {
  --str-chat__primary-color: var(--primary-color);
  --str-chat__active-primary-color: var(--secondary-color);
} */

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'effra', sans-serif;
}

html {
  scroll-behavior: smooth;
}