.main_cont {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.articles_left_section {
    width: 90%;
    overflow: hidden;
}

.towt_cont {
    width: 100%;
}

.totw_title {
    margin-bottom: 1rem;
}

.totw_img {
    width: 100%;
    height: auto;
    position: relative;
}

.towtImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.towtImg_txt {
    background-color: rgba(0, 0, 0, .7);
    color: white;
    text-align: center;
    font-size: clamp(.9rem, 1.5vw, 1.5rem);
    position: absolute;
    bottom: 2px;
    padding: 1rem;
    line-height: 1.5;
    width: 100%;
}

/* .explore_cont {
    border: 2px solid red;
} */

.explore_title {
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    margin: .5rem 0;
}

.explore_txt {
    font-size: clamp(1rem, 1.5vw, 1.3rem);
}

.load_more {
    text-align: center;
    font-weight: 600;
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    cursor: pointer;
}

.load_more:hover {
    color: red;
}


.articles_link_cont {
    width: 33%;
    display: none;
}





@media only screen and (min-width: 750px) {
    .main_cont {
        padding: 0 clamp(1rem, 5vw, 4rem);
    }

    .articles_left_section {
        width: 50%;
        overflow: hidden;
    }

    .articles_link_cont {
        display: block;
    }

    .articles_link_container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 1.5rem;
    }

    .soa_title {
        font-size: clamp(1.5rem, 2.5vw, 2rem);
    }

    .soa {
        border: 2px solid black;
        width: fit-content;
        padding: 1rem;
        border-radius: 5rem;
        font-size: clamp(1rem, 1.5vw, 1.3rem);
        cursor: pointer;

    }

    .more {
        color: red;
        margin: 1rem 0;
        float: right;
        cursor: pointer;
    }




}