html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
}

#root {
    display: flex;
}

.chat_div {
    display: flex;
    height: 100vh;
    overflow: hidden;
}


.messagerow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    width: 100%;
    overflow: auto;
}

.chat_div>div {
    border: 2px solid yellow;
}

.str-chat__channel-list {
    width: 45%;
    border: 2px solid blue;
}

.str-chat__channel {
    width: 100%;
    border: 2px solid green;
}

.str-chat__thread {
    width: 45%;
}

.str-chat__channel-header {
    border: 1px solid lightgray;
}


.str-chat__channel-search.str-chat__channel-search--with-results.str-chat__channel-search--inline {
    height: fit-content;
    border: 2px solid black;
}

















/* this is the responsive section */
@media only screen and (max-width: 51rem) {
    /* .str-chat__channel {
        display: none;
    } */

    .str-chat__channel-list {
        width: 100%;
    }
}