body {
    overflow: hidden;
}

#icon {
    font-size: clamp(1.1rem, 2.5vw, 1.5rem);
}

.pageCont {
    display: flex;
    background-color: whitesmoke;
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    overflow: auto;
}

.messaging_section {
    width: 100%;
    height: 100vh;
}


/* this is the main msg section */
.msg_main {
    display: flex;
}


.contact_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 2rem 0 0 0;
    gap: 1.5rem;
}


.message_section {
    height: 100vh;
    position: relative;
    border-left: 1px solid black;
    flex-grow: 1;
}

.msg_sec_bg {
    background-image: url('/msg/message bg.jpg');
    height: 100%;
    width: 100%;
    opacity: .1;
    position: absolute;
    top: 0;
    left: 0;
}

/* this is the search bar section */
.search_contact_section {
    width: 90%;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    background-color: white;
    box-shadow: 2px 2px 5px lightgray;
    overflow: hidden;
    padding-left: .6rem;
}

.search_contact_section input {
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: .3rem .5rem;
}

.search_contact_section input::placeholder {
    font-family: clamp(1rem, 2vw, 1.3rem);
}

.search_contact_section span {
    background: #0C113E;
    color: white;
    padding: .6rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* styling the contact list section */
.contact_list {
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.contact_list::-webkit-scrollbar {
    width: .3rem;
}

.contact_list::-webkit-scrollbar-thumb {
    background: #174960;
    border-radius: .5rem;
    height: 5rem;
}

.friends {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 1rem 0;
    gap: .5rem;

}

.friend_dp {
    height: clamp(3rem, 5vw, 3.3rem);
    width: clamp(3rem, 5vw, 3.3rem);
    border-radius: 100px;
    overflow: hidden;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friend_img {
    width: 100%;
    height: auto;
}

.friend_txt {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.name_date {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.friend_name {
    font-weight: 600;
    width: clamp(5.5rem, 14vw, 13rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.friend_date {
    font-size: .8rem;
}

.last_msg {
    font-size: clamp(.9rem, 1.5vw, 1rem);
}

.chat_friend_dp {
    border: 1px solid lightgray;
    width: clamp(3rem, 5vw, 4rem);
    height: clamp(3rem, 5vw, 4rem);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.status_dot {
    color: green;
}

/* styling the chat section header */
.chat_header {
    background-color: #B5B6B6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem clamp(.5rem, 3vw, 3rem) 1rem 1rem;
    border-bottom: 1px solid black;
}

#chat_header_L {
    display: flex;
    gap: .6rem;
    align-items: center;
}

.chat_name {
    font-size: clamp(.9rem, 2vw, 1rem);
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: clamp(7rem, 15vw, 14rem);
}

.chat_status {
    font-size: small;
}

#chat_header_R {
    display: flex;
    gap: .1rem;
}

#chat_header_R>.chat_icon {
    font-size: 1.2rem;
}

.chat_icon {
    padding: .3rem;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chat_icon:hover {
    background-color: lightgray;
}

.chat_body {
    width: 100%;
    max-height: 80vh;
    margin-top: 5rem;
    position: absolute;
    top: 1rem;
    overflow-y: scroll;
    padding: 0 clamp(1rem, 2.5vw, 2rem);
}

.chat_body::-webkit-scrollbar {
    width: .3rem;

}

.chat_body::-webkit-scrollbar-thumb {
    height: 5rem;
    background-color: #0C113E;
    border-radius: 1rem;
}


/* this is the chat input area */
.chat_input_area {
    width: 100%;
    min-height: 9.3vh;
    background: #B5B6B6;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
    gap: .2rem;
}

.chat_input_area textarea {
    width: 80%;
    padding: .5rem;
    border: none;
    outline: none;
    font-size: 1.1rem;
    border-radius: .2rem;
    max-height: 4.5em;
    resize: none;
}

textarea::-webkit-scrollbar {
    width: 0;
    background: transparent;
}



.chat_input_area textarea::placeholder {
    color: lightgray;
}


.message {
    padding: 5px;
    margin-bottom: 5px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.message>div {
    box-shadow: 2px 2px 5px lightgray;
    background-color: white;
    max-width: 65%;
    padding: .5rem;
    border-radius: .5rem;
}

.user {
    align-items: flex-end;
}

.user div {
    padding: .5rem;
}

.friend {
    align-items: flex-start;
    border: none;
}



/* not part of the main design */
.chatpageCont {
    width: 100%;
    display: flex;
}

.chatapi {
    width: 100%;
}