.pageCont {
    display: flex;
    background-color: whitesmoke;
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    overflow: auto;
}

.channel-list-container {
    overflow: hidden;
    width: clamp(24rem, 45vw, 38rem);
}

@media only screen and (max-width: 768px) {
    .channel-list-container {
        display: none;
    }
}

.messageList {
    /* border: 2px solid blue; */
    height: 82vh;
    background-color: transparent;
    background-image: url('/msg/message bg.jpg');
    background-position: center;
    background-size: contain;
}

.str-chat__main-panel-inner {
    background-color: rgba(255, 255, 255, 0.9);
}

.str-chat__list {
    background-color: transparent;
}

.str-chat__list .str-chat__message-list-scroll {
    background-color: transparent;
}


.str-chat__message-reactions-container .str-chat__message-reactions {
    border: 1px solid lightgray;
    background-color: whitesmoke;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50px;
    padding: 0;
    gap: 0;
}

.str-chat__message-reactions-container .str-chat__message-reactions .str-chat__message-reaction.str-chat__message-reaction-own {
    background-color: transparent;
    gap: 0;
}

.str-chat__message-reactions-container .str-chat__message-reactions .str-chat__message-reaction.str-chat__message-reaction-own button {
    padding: 0;
}

.str-chat__message-reaction-count {
    display: none;
}

.str-chat__message-input-inner {
    position: absolute;
    top: 0;
    height: 4.3rem;
    background-color: lightgray;
}

/* .rta.str-chat__textarea.str-chat__message-textarea-react-host {
    background-color: white;
} */

.str-chat__message-textarea-container,
.str-chat__message-textarea-with-emoji-picker {
    background-color: white;
    border-radius: .7rem;
    margin-bottom: .3rem;
}

.str-chat__send-button {
    margin-bottom: .5rem;
}