body{
    position: relative;
}
.signup_cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    padding: 2rem 0;
}

.signup_form {
    width: clamp(21rem, 50vw, 50rem);
    overflow: hidden;
    box-shadow: 5px 5px 10px lightgray, -5px -5px 10px lightgray;
    border-radius: 1rem;
}

.header_mgt {
    background-color: var(--tetiary-color);
    padding: 1rem;
}

.stageCont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    background-color: var(--secondary-color);
}

.stages {
    display: flex;
}

.stage {
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgrey;
}

.s1 {
    color: white;
}

#h2 {
    display: flex;
    justify-content: center;
    padding: 2rem 0 0 0;
}

#h2 h2 {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}

#signupform {
    padding: 0 clamp(1rem, 5vw, 5rem);
}

.fit {
    padding: 0 clamp(1rem, 4.13vw, 10rem);
}

.seePassword {
    position: absolute;
    top: 0;
    right: .5rem;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    background-color: none;
    cursor: pointer;
}

.LFRightbtn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}

.LFRightbtn:hover {
    text-decoration: underline;
}

.login_Cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.log_Shadow {
    box-shadow: 5px 5px 10px lightgray;
    padding-top: 2rem;
    border-radius: .5rem;
    margin: 1rem;
}

@media only screen and (max-width: 400px) {
    .nav {
        padding: 0 0;
    }
}