body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.verify_cont {
    width: clamp(20rem, 40vw, 30rem);
    font-size: clamp(1.1rem, 3vw, 1.3rem);
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 5px lightgray, -2px -2px 5px lightgray;
    border-radius: .5rem;
}

.verify_msg {
    text-align: center;
}

.resendbtn {
    background-color: lightgray;
    padding: .5rem;
    border-radius: .5rem;
    width: 85%;
    text-align: center;
    color: gray;
    font-weight: 600;
    cursor: not-allowed;
}

.resendbtn.active {
    background-color: #111858;
    color: white;
    cursor: pointer;
}

.resendbtn:active {
    transform: scale(0.98);
}